<span id="about" class="anchor"></span>
<!--Here is a place for information about hte conference-->
<section id="about-section" class="section milky">
  <div class="container">

    <h2 class="section-title">About</h2>

    <p class="row text">
      Want to hear about latest Android technology
      and talk to experienced Android expert speakers?
      Be a part of it!
      Join second edition of droidcon Kraków!
    </p>

    <div class="row basic-info">
      <div class="col-sm-6">
        <div class="when-where"><img src="src/img/calendar.png"/></div>
        <div class="when-where mobile-where">4th-5th December 2015<br />
        6th December 2015 - Hackathon</div>
      </div>

      <div class="col-sm-6">
        <div class="when-where"><img src="src/img/location.png"/></div>
        <div class="when-where mobile-where">
          <a href="https://www.google.pl/maps/place/Wygrana+6,+30-311+Kraków" target="_blank">BEST WESTERN PLUS Q Hotel
            <br/>ul. Wygrana 6, Kraków</a>
        </div>
      </div>
    </div>

  </div>
</section>

<span id="registration" class="anchor"></span>
<!-- Registrations form -->
<section id="register-section" class="section white">
  <div class="container">
      <h2 class="section-title">Get tickets</h2>
      <p class="text">
        Registration for droidcon Kraków 2015 is now open!<br />
        <b>Standard Ticket</b> price is available until 15th November 12AM.<br />
        <b>Hackathon</b> ticket price is constant. Buy it fast because the number of places is limited.<br />
        For any help <a href="#contact">write to us</a>.
      </p>
    <a href="http://droidconpl.evenea.pl/" class="button" target="_blank">Buy tickets</a>
  </div>
</section>

<span id="participate" class="anchor"></span>
<!--Here is a place for information how one can participate to the conference-->
<section id="participate-section" class="section green">
  <div class="container">

      <h2 class="section-title">How can you participate?</h2>

      <div class="col-sm-4 small-section">
          <img src="src/img/learn_button.png"/>

          <h3 class="section-subtitle">Learn</h3>
          <p>Attend the conference,<br/>
              listen to different lectures<br/>
              and take part in upcoming<br/>
              Hackathon.
          </p>
      </div>

      <div class="col-sm-4 small-section">
          <img src="src/img/teach_button.png"/>

          <h3 class="section-subtitle">Teach</h3>

          <p>Become a speaker at<br/>
              droidcon and give a lecture<br/>
              on the newest subjects<br/>
              involving Android.
          </p>
      </div>

      <div class="col-sm-4 small-section">
          <img src="src/img/support_button.png"/>

          <h3 class="section-subtitle">Support</h3>

          <p>Help the conference by<br/>
              donating, volunteering or in<br/>
              other way to become an<br/>
              even bigger event.
          </p>
      </div>

  </div>
</section>

<span id="c4p-and-sponsor" class="anchor"></span>
<!--  Here is place for two buttons for C4P and sponsoring contact-->
<section id="c4p-and-sponsor-buttons" class="section black">
  <div class="container">
    <div class="col-sm-6" style="margin: 0 0 25px 0">
      <h2 class="row section-title">Call For Papers</h2>
      <p class="text black-text">
        Call 4 Papers for droidcon Kraków 2015 will close on 31th October 2015!
        So hury up and register your idea for a talk and wait for our decision.
        We will contact you back in a couple of days.
      </p>
      <a href="http://goo.gl/forms/mfJxBfi7L3" class="button" target="_blank" style="color: black">Call For Papers Form</a>
    </div>
    <div class="col-sm-6">
      <h2 class="row section-title">Sponsor us!</h2>
      <p class="text black-text">Get in touch with us to get sponsors offer.</p>
      <a href="mailto:contact+sponsor@droidcon.pl" class="button" style="color: black">Get in touch</a>
    </div>
  </div>
</section>

<span id="speakers" class="anchor"></span>
<!--Here is a place for speakers-->
<section id="speakers-secion-test" class="section white">
  <div class="container">

    <h2 class="section-title">Our Speakers</h2>
    <p class="text">Take the first glimpse on the lineup.</p>
    <div class="people-brackets"></div>
  </div>
</section>

<span id="sponsors" class="anchor"></span>
<!--Here is a place with sponsors and link to sponsors offer request-->
<section id="sponsors-section" class="section queue-section milky">
  <div class="container">
    <h2 class="row section-title">Our Sponsors</h2>
    <p class="text">
      Meet our Sponsors who help us make this event happen!
    </p>
    <h3 class="sponsor-range">Gold Sponsors</h3>
    <div class="brackets brackets-gold"></div>
    <h3 class="sponsor-range">Bronze Sponsors</h3>
    <div class="brackets brackets-bronze"></div>

  </div>
</section>

<span id="partners" class="anchor"></span>
<!--Here is a place with sponsors and link to sponsors offer request-->
<section id="partner-section" class="section queue-section milky">
  <div class="container">

    <h2 class="row section-title">Our Partners</h2>

    <p class="text">Here you can find all of our partners. They help us to make droidcon glorious!</p>
    <div class="brackets"></div>

  </div>
</section>

<span id="media" class="anchor"></span>
<!--Here is a place with sponsors and link to sponsors offer request-->
<section id="media-section" class="section milky">
  <div class="container">

    <h2 class="row section-title">Media</h2>

    <p class="text">See media portals that support us.</p>
    <div class="brackets"></div>

  </div>
</section>
