<!-- Modal -->
<div id="modal-8" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title">
          <!--Speaker photo-->
          <!--Speaker First & Last Name-->
          <!--Speaker Subtitle-->
        </div>
      </div>
      <div class="modal-body">
        <!--Speaker bio-->
      </div>
    </div>

  </div>
</div>
