/*
  Created 11/20/2015 by Grażyna

  This file contains all coe-of-conduct.html adjustments for droidcon Kraków 2015 website.
*/

.align-left {
  text-align: left;
  margin-bottom: 40px;
}

.code-subtitle {
  margin-bottom: 30px;
}
