/*import fontu Roboto z google*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body{
  margin: 0;
  padding: 0;
  background-color: #EEEDEC;
  font-family: 'nerislight', Arial, sans-serif;
  color: #1A1A1A;
  font-size: 16px;
}

/*--global classes--*/

/*--Żeby odsyłało do sekcji nie zasłaniając jej--*/
.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

/*--backgrounds and its styles--*/
.green{
  background-color: #6EB300;
  color: #EEEDEC;
}
.white{
  background-color: #EEEDEC;
  color: #1A1A1A;
}
.grey{
  background-color: #4D4D4D;
  color: #EEEDEC;
}
.logo-gradient{
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-70, #737373), color-stop(100, #1C1C1C));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* W3C Markup */
  background-image: linear-gradient(to bottom, #737373 -70%, #1C1C1C 100%);
}
/*--end backgrounds--*/

.list {
  list-style: none;
  font-family: 'nerissemibold';
}

.section {
  font-size: 18px;
  min-height: 150px;
  padding: 20px 0;
  text-align: center;
}
h2.section-title{
  font-size: 25px;
  font-family: 'nerisblack', Arial, sans-serif;
  margin: 10px 0;
}
.small-section {
  padding: 20px 0 10px 0;
}
h3.section-subtitle {
  font-family: 'nerisblack', Arial, sans-serif;
  font-size: 20px;
  margin: 10px 0;
}
.text{
  padding: 10px 0;
  margin: 0 auto;
  display: table;
}
.right{
  float: right;
}

.button {
  background-color: #6EB300;
  display: block;
	cursor: pointer;
	color: #1A1A1A;
	font-family: 'nerissemibold';
  font-size: 16px;
	padding: 12px 0px;
  margin: 10px auto;
  width: 290px;
  text-align: center;
	text-decoration: none;
}
.button:hover {
  background-color:#7CC900;
  text-decoration: none;
  color: #1A1A1A;
}
.button:active {
	position:relative;
	top:1px;
  background-color: #63A100;
}
.button:focus{
  text-decoration: none;
  color: inherit;
}

/*--end-global classes--*/

/**-----properties for mobile devices----**/
/*green menu bar*/
#navbar{
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  border-bottom: 1px solid #FFF;
}
.navbar-height{
  height: 50px;
}
#hamburger {
  width: 50px;
  padding: 7px 0;
  cursor: pointer;
  display: block;
  background: transparent;
  float: left;
}
/*The white stripes in the hamburger button*/
#hamburger div {
  background-color: #FFF;
  border-radius: 2px;
  height: 3px;
  margin: 6px 7px 0 7px;
  width: 70%;
}
/*droid icon in menu bar*/
.main-icon{
  height: 50px;
  padding: 7px 5px;
}
/*hide list in mobile version*/
#menu-list ul{
  display: none;
  font-size: 20px;
}
/*show list after click on hamburger menu*/
.expanded#menu-list ul{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
/*list styles*/
.list-item a{
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #FFF;
  display: block;
  line-height: 1.3;
  border-bottom: 1px solid #FFF;
}
.list-item a:hover{
  background-color: #1A1A1A;
  color: #8ED201;
}
.list-icon img{
  height: 20px;
}

#desktop-menu-list {
  display: none;
}
/**-----end-mobile menu----**/

/**-----main droid logo-----**/
#main-logo img{
  max-width: 100%;
  height: auto;
  display: block;
  padding: 30px 0;
  margin: 0 auto;
}
/**-----end-main droid logo-----**/

/**----about-section----**/
#about-section {
  padding: 20px 0;
  text-align: center;
}
.when-where{
  display: table-cell;
  vertical-align: middle;
  padding: 10px 10px;
}
.when-where img{
  height: 30px;
}
.mobile-where{
  min-width: 280px;
  text-align: left;
}
/**----end-about-section----**/

/**----participate-section----**/
#participate-section img{
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px;
}
/**----end-participate----**/


/**----sponsors-section----**/

/**----end-sponsors-section----**/


/**----speakers-secion----**/

/**----end-speakers-secion----**/


/**----partner-secion----**/
.brackets {
  width:100%;
  text-align: center;
}
.bracket {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 5px 5px;
  cursor: pointer;
}
.bracket a {
  width: 100%;
  height: 100%;
}
.bracket img {
  width: inherit;
}
/**----end-partner-secion----**/


/**----contact-section----**/
a#e-mail{
  text-decoration: underline;
  color: white;
  font-size: 20px;
}
/**----end-contact-section----**/

/**----footer----**/
#footer{
  min-height: 150px;
  text-align: center;
  font-size: 12px;
}
.mobile-footer p{
  float: left;
  font-family: 'nerissemibold';
  padding: 30px 0px 20px 20px;
}
#footer-icons{
  padding-right: 20px;
  float: right;
}
.icon2{
  padding: 30px 8px;
  height: 80px;
}
/*will show that in higher resolutions*/
.desktop-footer{
  display: none;
}
.footer-pos {
  font-family: 'nerissemibold';
  text-align: left;
}
.footer-list {
  font-family: 'nerislight';
  padding: 0;
}
.footer-list a {
  color: #FFF;
}
a#footer-mail {
  color: #FFF;
}

#droidcon-global {
  font-weight: bold;
}
#droidcon-global img {
  height: 70px;
  padding: 10px 24px;
  float: left;
}
#droidcon-global p{
  float: left;
  text-align: left;
  padding: auto 0;
  padding: 10px 24px;
}
/**----end-footer----**/

/**----other dimensions----**/
/**--duże telefony i tablety--**/
@media (min-width: 720px){
  .navbar-height{
    height: 70px;
  }
  .anchor{
    height: 70px; /*same height as header*/
    margin-top: -70px; /*same height as header*/
  }
  #hamburger {
    width: 70px;
    height: 70px;
    padding: 12px 0;
  }
  /*The white stripes in the hamburger button*/
  #hamburger div {
    height: 4px;
    margin: 8px 9px 0 9px;
    width: 70%;
  }
  .main-icon{
    height: 70px;
    padding: 11px 5px;
  }
  #menu-list ul{
    font-size: 22px;
  }
  .list-item a{
    line-height: 1.5;
  }
  .list-icon img{
    height: 24px;
  }
  #footer{
    font-size: 15px;
  }
  #footer-icons{
    padding-right: 30px;
  }
  .icon2{
    padding: 25px 12px;
    height: 75px;
  }
}

/**--duże telefony i tablety--**/
@media (min-width: 1080px){
  .container {
    width: 970px;
    height: inherit;
  }
  body{
    font-size: 18px;
  }
  .anchor{
    height: 80px; /*same height as header*/
    margin-top: -80px; /*same height as header*/
  }
  .section {
    font-size: 20px;
    padding: 25px 0;
    min-height: 200px;
  }
  h2.section-title{
    font-size: 27px;
    margin: 15px 0;
  }
  .small-section {
    padding: 30px 0 20px 0;
  }
  h3.section-subtitle {
    font-size: 22px;
    margin: 20px 0;
  }
  .text{
    padding: 20px 0;
  }
  .button {
    font-size: 18px;
  }
  /*Turn off mobile navbar list*/
  #mobile-title-bar{
    display: none;
  }
  /*Turn on desktop navbar list*/
  #desktop-menu-list {
    display: block;
  }
  .navbar-height, #desktop-menu-list ul{
    height: 80px;
  }
  #desktop-menu-list ul{
    display: table;
    margin: 0 auto;
    padding: 0;
  }
  /*droid icon in menu bar*/
  .main-icon{
    padding: 10px 0;
  }
  #navbar li{
    float: left;
    font-size: 22px;
    height: inherit;
  }
  .list-item a{
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
    height: inherit;
  }
  .list-icon img{
    height: 28px;
  }
  .right{
    float: none;
  }
  .bracket {
    height: 180px;
    width: 180px;
    margin: 8px 8px;
  }
  .mobile-footer {
    display: none;
  }
  .desktop-footer{
    display: block;
    min-height: 120px;
    background-color: #4D4D4D;
    color: #1A1A1A;
    text-align: center;
  }
  .footer-pos{
    padding-top: 20px;
    color: #FFFFFF;
  }
  .icon2{
    height: 25px;
    padding: 0px 12px;
  }
}

/**--desktop--**/
@media (min-width: 1440px){
  .container {
    width: 1300px;
    height: inherit;
  }
  .anchor{
    height: 100px; /*same height as header*/
    margin-top: -100px; /*same height as header*/
  }
  .navbar-height, #desktop-menu-list ul{
    height: 100px;
  }
  /*droid icon in menu bar*/
  .main-icon{
    padding: 0;
  }
  #navbar li{
    font-size: 26px;
  }
  .list-item a{
    padding: 0 30px;
  }
  .list-icon img{
    height: 30px;
  }
  .icon2{
    height: 30px;
    padding: 0px 14px;
  }
}
