/*import fontu Roboto z google*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body{
  margin: 0;
  padding: 0;
  background-color: #EEEDEC;
  font-family: 'nerislight', Arial, sans-serif;
  color: #1A1A1A;
  font-size: 16px;
}

/*--global classes--*/

.affix {
  top: 0;
  width: 100%;
}
.affix + .container {
  padding-top: 70px;
}

.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

/*--backgrounds and its styles--*/
.green{
  background-color: #77AF00;
  color: #EEEDEC;
}
.white{
  background-color: #EEEDEC;
  color: #1A1A1A;
}
.grey{
  background-color: #4D4D4D;
  color: #EEEDEC;
}
/*--end backgrounds--*/
.list {
  list-style: none;
  font-family: 'nerissemibold';
}

.section {
  font-size: 18px;
  min-height: 200px;
  padding: 20px 0;
  text-align: center;
}
h2.section-title{
  font-size: 25px;
  font-family: 'nerisblack', Arial, sans-serif;
}
h3.section-subtitle {
  font-family: 'nerisblack';
  font-size: 20px;
}

.right{
  float: right;
}

.button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #78af00), color-stop(1, #78af00));
	background:-moz-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:-webkit-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:-o-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:-ms-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:linear-gradient(to bottom, #78af00 5%, #78af00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78af00', endColorstr='#78af00',GradientType=0);
	background-color: #8cd201;
  display: block;
	cursor: pointer;
	color: #1A1A1A;
	font-family: 'nerislight';
  font-size: 16px;
	font-weight: bold;
	padding: 12px 0px;
  margin: 30px auto 10px auto;
  width: 290px;
  text-align: center;
	text-decoration: none;
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #78af00), color-stop(1, #78af00));
	background:-moz-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:-webkit-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:-o-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:-ms-linear-gradient(top, #78af00 5%, #78af00 100%);
	background:linear-gradient(to bottom, #78af00 5%, #78af00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78af00', endColorstr='#78af00',GradientType=0);
	background-color:#78af00;
  font-family: 'nerissemibold';
  text-decoration: none;
  color: #FFF;
}
.button:active {
	position:relative;
	top:1px;
}
.button:focus{
  text-decoration: none;
  color: inherit;
}

/*--end-global classes--*/

/**-----mobile menu----**/
/*zielony pasek menu*/
#navigation{
  height: 50px;
  z-index: 99;
  top: 0;
  border-bottom: 1px solid #FFF;
}
#hamburger {
  position: relative;
  width: 60px;
  height: 50px;
  padding: 7px 9px;
  cursor: pointer;
  display: block;
  background: transparent;
  float: left;
}
/*The white stripes in the hamburger button*/
#hamburger div {
  background-color: #FFF;
  border-radius: 2px;
  height: 3px;
  margin-top: 6px;
  width: 90%;
}
/*ikonkra androidka w mobilnym menu*/
#main-icon{
  height: 50px;
  padding: 7px 5px;
}
/*chowamy listę pod hamburger menu dla mobilnych wersi*/
#menu-list ul{
  display: none;
}
/*pokazujemy listę po kliknięciu na menu*/
.expanded#menu-list ul{
  display: block;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
/*style listy po rozwinięciu*/
.list-item a{
  padding: 12px 0;
  width: 100%;
  text-decoration: none;
  color: #FFF;
  display: block;
  line-height: 1;
  border-bottom: 1px solid #FFF;
}
.list-item a:hover{
  background-color: #1A1A1A;
  color: #8ED201;
}
.list-icon img{
  height: 25px;
}
/**-----end-mobile menu----**/

/**-----główny andek-----**/
#main-logo{
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-70, #737373), color-stop(100, #1C1C1C));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #737373 -70%, #1C1C1C 100%);
  /* W3C Markup */
  background-image: linear-gradient(to bottom, #737373 -70%, #1C1C1C 100%);
}
#main-logo img{
  max-width: 100%;
  height: auto;
  display: block;
  padding: 30px 0;
  margin: 0 auto;
}
/**-----end-główny andek-----**/

/**----about-section----**/
#about-section {
  font-family: Roboto;
}
.about-text{
  font-size: 16px;
  padding-top: 10px;
  margin: 0 auto;
  display: table;
}
.when-where{
  display: table-cell;
  vertical-align: middle;
  padding: 10px 10px;
}
.when-where img{
  height: 30px;
}
.mobile-where{
  min-width: 250px;
  text-align: left;
}
/**----end-about-section----**/

/**----participate-section----**/
#participate-section img{
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px;
}
/**----end-participate----**/


/**----sponsors-section----**/

/**----end-sponsors-section----**/


/**----speakers-secion----**/

/**----end-speakers-secion----**/

/**----contact-section----**/
a#e-mail{
  text-decoration: underline;
  color: white;
  font-size: 20px;
}
/**----end-contact-section----**/

/**----footer----**/
#footer{
  min-height: 80px;
  text-align: center;
  font-size: 12px;
}
.mobile-footer p{
  float: left;
  font-family: 'nerissemibold';
  padding: 30px 0px 20px 20px;
}
#footer-icons{
  padding-right: 20px;
  float: right;
}
.icon2{
  padding: 30px 8px;
  height: 80px;
}
.desktop-footer{
  display: none;
}
.footer-pos {
  font-family: 'nerissemibold';
  text-align: left;
}
.footer-list {
  font-family: 'nerislight';
  padding: 0;
}

#droidcon-global {
  font-weight: bold;
  text-align: left;
  display: block;
  margin: 0 auto;
}
#droidcon-global img {
  height: 70px;
  padding: 10px 24px;
  float: left;
}
/**----end-footer----**/

/**----other dimensions----**/
/**--duże telefony i tablety--**/
@media (min-width: 720px){
  #navigation{
    height: 70px;
  }
  .anchor{
    height: 70px; /*same height as header*/
    margin-top: -70px; /*same height as header*/
  }
  #hamburger {
    width: 80px;
    height: 70px;
    padding: 12px 15px;
  }
  /*The white stripes in the hamburger button*/
  #hamburger div {
    height: 4px;
    margin-top: 8px;
    width: 90%;
  }
  #main-icon{
    height: 65px;
    padding: 11px 5px;
  }
  .expanded #menu-list ul{
    font-size: 22px;
  }
  #about-section{
    min-height: 200px;
  }
  #footer{
    min-height: 80px;
    text-align: center;
    font-size: 15px;
  }
  .mobile-footer p{
    padding-right: 30px;
  }
  #footer-icons{
    padding-right: 30px;
  }
  .icon2{
    padding: 25px 12px;
    height: 75px;
  }
}

/**--duże telefony i tablety--**/
@media (min-width: 1080px){
  .container {
    width: 970px;
    height: inherit;
  }
  #mobile-title-bar{
    display: none;
  }
  #navigation, #menu-list ul{
    height: 80px;
  }
  .anchor{
    height: 80px; /*same height as header*/
    margin-top: -80px; /*same height as header*/
  }
  #menu-list ul{
    display: table;
    margin: 0 auto;
    padding: 0;
  }
  #navigation li{
    float: left;
    font-size: 22px;
    height: inherit;
  }
  .list-item a{
    padding: 12px 24px;
    display: table-cell;
    vertical-align: middle;
    height: inherit;
  }
  .list-icon img{
    height: 28px;
  }
  .right{
    float: none;
  }
  .mobile-footer {
    display: none;
  }
  .desktop-footer{
    display: block;
    min-height: 120px;
    background-color: #4D4D4D;
    color: #1A1A1A;
    text-align: center;
  }
  .footer-pos{
    padding-top: 20px;
    color: #FFFFFF;
  }
  .icon2{
    height: 25px;
    padding: 0px 12px;
  }
}

/**--desktop--**/
@media (min-width: 1440px){
  .container {
    width: 1100px;
    height: inherit;
  }
  #navigation, #menu-list ul{
    height: 100px;
  }
  #navigation li{
    font-size: 24px;
  }
  .list-item a{
    padding: 12px 24px;
  }
  .list-icon img{
    height: 32px;
  }
  .icon2{
    height: 30px;
    padding: 0px 14px;
  }
}
